nav.navbar.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle="collapse", data-target="#navbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') ML Reddit

    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class={ active: !page })
          //- li(class=`${page || 'active'}`)
          a(href='/new') New Post
