extends partials/layout.pug

block content
  .welcome
    h1 Dis be a test
  .content
    each post in posts
      .postBlock
        h1 #{post.title}
        img(src=post.imgurl)
        p By: #{post.username}
        .up
          button Up
        .votes
          p #{post.votes}
        .down
          button Down
